registry=https://registry.npmjs.org
@nara:registry=http://35.221.123.58/repository/npm-private/
@nara.platform:registry=http://35.221.123.58/repository/npm-private/
@nara.drama:registry=http://35.221.123.58/repository/npm-private/

//35.221.123.58/repository/npm-private/:_authToken=NpmToken.aa99c1eb-5ca5-3c1d-8ada-1afab98038b6

strict-ssl=false
always-auth=false
network-timeout=100000
